{% extends 'DiaryBundle:Default:index.html.twig' %}

{% block content %}
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <h1>Person<br/><small>Edit</small></h1>
            {{ form_start(edit_form) }}
        <div class="form-group">Name: 
            <p>{{ form_widget(edit_form.name) }} </p>
        </div>
        <div class="form-group">Description: 
            <p>{{ form_widget(edit_form.description) }}</p> 
        </div> 
        <div class="form-group">Event: 
            <p>{{ form_widget(edit_form.event) }}</p> 
        </div> 
        <div class="form-group">Event: 
            <p>{{ form_widget(edit_form.email) }}</p> 
        </div> 
        <div>
            <a href="{{ path('person') }}" class="btn btn-default">
                Back to the list
            </a>
        </div>
        <div>{{ form(delete_form) }}</div>
    </div>

{% endblock %}
