{% extends 'DiaryBundle:Default:index.html.twig' %}


{% block content %}
    <h1>Person<br/><small>Show</small></h1>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        <a href="{{ path('person') }}" class="btn btn-default">
            Back to the list
        </a>
    </div>
    <div>
        <a href="{{ path('person_edit', { 'id': entity.id }) }}" class="btn btn-primary">
            Edit
        </a>
    </div>
    <div>{{ form(delete_form) }}</div>
{% endblock %}
